:root
{
    --Scale: 2;
    --Border: 1;
}

#stack {
    display: inline-block;
    border-style: solid;
    border-color: black;
	border-width: calc(1pt * var(--Border));

}

.brick {
    width: calc(10pt * var(--Scale));
    height: calc(10pt * var(--Scale));
    border-style: solid;
    border-color: white;
	border-width: calc(1pt * var(--Border));
    background: white;
    float: left;
}
.Window{

    margin-top: 50pt;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: auto;
    position: center;
	border-top: 0pt;
}

.Info_Bar{
    border: solid 1pt black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


}

.Future_Figure{

    border-style: solid;
    border-color: white;
	border-width: calc(10pt * var(--Scale));
    border-bottom: 0pt;

}

.brick.on {
    background: black;
}

.brick.now,.brick.Future {
     background: green;
 }

.Score_Style{
    font-size: 1em;
    margin-top: calc( (10pt * var(--Scale)));
    text-align: center;
}